#contact-form {
    padding:0px 0 0 0;
    position: relative;
    width: 300px;
}
#contact-form .success
{
    display: block;
    position: absolute;
    width: 100%;
    top: 0;
    left:0;
    z-index: 99;
    background: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 20px 0;
}
#contact-form textarea, #contact-form input {
    margin:0;
    box-shadow: 0 0 3px #b6b4ad;
    font-size:13px;
    border:none;
    color:#424242;
    padding:9px 12px;
    outline:none;
    position:relative;
    font-family:Arial, Helvetica, sans-serif;
    background:#fff;
    border-radius: 5px;  }


#contact-form input {
    width:277px;
}
#contact-form textarea {
    overflow:auto;
    width:357px;
    height:146px;
    resize:none;
    float:left;
    margin: 0 0 0 0;
}

#contact-form label {
    display:inline-block;
    position: relative;
    min-height:50px;
}
#contact-form label.message {
    display:block;
    padding-bottom:0;
}
#contact-form .link2 {
    margin-left:30px;
}
#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
    text-align:left;
    color:red;
    font-size:11px;
    position: absolute;
    right: 10px;
    top: 5px;
}
#contact-form .buttons2 {
    overflow:hidden;
    text-align:right;
    position:relative;
    clear:both;
    padding-top:12px;
}
#contact-form .buttons2 a {
    cursor:pointer;
    margin-top:0;
    text-align:center;
}
#contact-form span{
    display:block;
    margin: 0px 0 0 5px;
}

.col-sm-4 ul {
        padding:5px;
        border: 1px solid #808080;
    border-radius: 10px;
        font-weight: bold;
    list-style-type: none;
}
.col-sm-4 li {


}

.twit {
    font-weight: normal;
    font-size: 12px;
    color: #808080;
}
.jumbotron li {
    font-size: 18px;

}
a:hover {
    text-decoration: none;

}
a:visited {
    text-decoration: none;
}
a {text-decoration: none; color:  #898989}

.addref {
    font-size: 10px;
}